* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

::selection {
  background-color: #E72A00;
}


#root {
  position: relative;
}

html.lenis,
html.lenis body {
  height: auto;
}

#loader {
  height: 100vh;
  background-color: #0d0d0d;
  cursor: none !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: #0D0D0D;

}

::-webkit-scrollbar {
  display: none;
}



p.p-small {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 120%;
  font-weight: 200;
}

p.p-tiny {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 120%;
  font-weight: 200;
}


p.p-big {
  font-size: 18px;
  font-weight: 200;
}

h1.p-regular,
p.p-regular {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 100%;
}

p.p-regular {
  font-weight: 200;
}


.pointer {
  cursor: pointer;
}


.bold {
  font-weight: bold
}


h1.title,
.title {
  font-size: 32px;
  font-weight: 200;
}

.input-box {
  padding: 16px 20px;
  border-radius: 30px;
  outline: none;
  background-color: #1E1E1E;
  border: 1px solid #2D2D2D;
  color: #ECECEC;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-out;
  line-height: 100%;
  letter-spacing: 0.1px;
  font-weight: 200;
}


.input-box:hover {
  background-color: #2D2D2D;
}

.input-box:focus {
  border: 1px solid #E72A00;
  background-color: #1E1E1E;
}

.input-box::selection {
  background-color: transparent;
}

.input-container:focus-within #search-icon {
  opacity: 1 !important;
  /* filter: invert(36%) sepia(87%) saturate(7497%) hue-rotate(11deg) brightness(97%) contrast(101%); */
  /* filter: brightness(0) saturate(100%) invert(98%) sepia(27%) saturate(140%) hue-rotate(182deg) brightness(118%) contrast(85%); */
}

.MuiSlider-thumb {
  background-color: #E72A00 !important;
  /* Cambia il colore del thumb come desideri */
}

.filter-chip {
  padding: 10px 16px;
  background-color: #2D2D2D;
  color: #BBBBBB;
  width: fit-content;
  border-radius: 30px;
  border: 1px solid #404040;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  display: flex;
  align-items: center;
  font-weight: 200;
}

.filter-chip:hover {
  background-color: #3C3C3C;
}

.filter-chip>p::selection {
  background-color: transparent;
}

.filter-chip.selected,
.filter-chip.selected:hover {
  background-color: #E72A00;
  border: 1px solid #E72A00;
}

.filter-chip.disabled,
.filter-chip.disabled:hover {
  background-color: #2D2D2D;
  opacity: 0.32;
  cursor: not-allowed;
}

.chip-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.thumb:hover,
.thumb.Mui-focusVisible {
  box-shadow: none !important;
}

#sort-menu {
  width: 240px;
  position: absolute;
  bottom: -293px;
  right: -5px;
  background-color: #1E1E1E;
  border-radius: 24px;
  padding: 12px;
  margin-bottom: 10px;
}

.sort-item {
  padding: 16px;
  border-radius: 16px;
  color: #ECECEC;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 200;
}

.sort-item:hover {
  background-color: rgba(236, 236, 236, 0.08);
}

.hover-transition {
  transition: all 0.3s ease-out;
}

.hover-transition:hover {
  opacity: 1 !important;
}

.close-circle-div {
  border-radius: 50%;
  background-color: #1e1e1e;
  border: 1px solid #2d2d2d;
  transition: background-color .3s ease-out;
}

.close-circle-div:hover {
  background-color: #2d2d2d;
}