* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}



p.p-small {
  font-size: 14px
}

p.p-big {
  font-size: 24px
}

h1.p-regular,
p.p-regular {
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}


.bold {
  font-weight: bold
}


h1.title,
.title {
  font-size: 32px;
}